.img-thumbnail{
    margin:25px;
    width:70%;
    height:70%;
}
.card{
    width:90%;
    font-size: 15px;
    align-items: center;
    height: 500px;
}
.card-body{
    width: 100%;
    padding:0px;
}
.card-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top:none;
    font-size:15px;
}



